/* Style the navbar */
/* Style the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: -5%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.brand-logo {
  height: 100px;
  margin-left: -9%;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.list-login{
  list-style: none;
}
.list-login img{ 
  margin-bottom: -20%;
}

.brand-logo-login {
  height: 50px;
  margin-top: 20px;
}

.nav-list .under a{
text-decoration: underline;
font-weight: 700;
}
.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-list a:hover {
  color: #000;
}


/* End */

/*blue box start*/
.container2 {
  width: 80%;
  background-color: #fff;
}

/*Button-x Start*/
.btn-x {
  background-color: #1075c3;
  color: #fff;
  text-align: center;
  width: 5%;
  height: 4%;
  justify-content: right;
  margin-left: 760px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
/*Button-x End*/

/*kotak Start*/

.content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 90%;
}

.content2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
}

.content3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kotak {
  margin-left: 600px;
  margin-top: -247px;
  width: 800px;
  height: 600px;
  background: rgb(88, 156, 240);
}

.btn-what {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

.btn-how {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-solve {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.gambar2 {
  width: 90%;
}
/*kotak End*/

/*kotak2 Start*/

.kotak2 {
  width: 600px;
  height: 600px;
  background: rgb(88, 156, 240);
  margin-top: 150px;
  margin-left: 50px;
}

.man {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 250px;
  font-weight: bold;
}

.gambar {
  margin-top: 10px;
  margin-left: 100px;
  width: 300px;
}

/*kotak2 End*/

/*blue box end*/
/* Footer section start*/
.footer{
  margin: 0;
  padding: 0;
  margin-top: 50px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  bottom: 0px;
  width: 100%;
  background: #ADCDF1;
  color: #000;
  
}
.main-content{
  display: flex;
}
.main-content .center h1{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}
.place i span{
  font-family: 'Poppins', sans-serif;
}
.footer-logo{
  height: 80px;
  margin-left: -9%;
}
.main-content .box{
  flex-basis: 50%;
  padding: 15px 20px;
}
.left{
  margin-left: 5% ;
}
.center{
  margin-left: 20%;
  
}
.right{
  margin-left: 27%;
}
/* yang di ubah  */
.footer-content p{
  margin-right: -70%;
}

.social a img{
  margin-right: -60%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: .5s;
}

.box .footer-content{
  margin: 20px 0 0 0;
}
.center .content .place{
  margin: 20px 0 0 0 ;
} 
.right .content .social{
  margin: 20px 0 0 0 ;
} 

/* Footer End */
